@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

canvas {
    display: block;
    margin: 0 auto;
    cursor: url("/kitty-phantom-project/assets/cursorSmall.png"), auto;
    
}

body {
    margin: 0;
    background-color: #f8d5c0;
    cursor: url('/kitty-phantom-project/assets/cursorSmall.png'), auto;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
}



.menu {
    display: flex;
    flex-direction: column;

}

#homeScreen {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #f8d5c0;
    gap: 100px;
   
    cursor: url('/kitty-phantom-project/assets/cursorSmall.png'), auto;

}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.9;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }

}

#homeScreen h1 {
    display: flex;
    font-family: "Press Start 2P";
    font-style: italic;
    color: #783511;
    margin: 0 auto;
    padding: 45px;
    animation: pulse 2s infinite alternate;
}



#gameScreen {
    position: relative;
    width: 380px;
    height: 500px;
    margin: 20px auto;
    background-color: #f0eded;
    border: 2px solid #444;
    display: none;
    cursor: url('/kitty-phantom-project/assets/cursorSmall.png'), auto;

}



#clickMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Press Start 2P", monospace;
    color: rgb(73, 6, 53);
    background-color: rgb(233, 199, 236);
    border: 1px solid rgb(73, 12, 72);
    text-align: center;
    font-size: 10px;
    cursor: pointer;
    padding: 5px 10px;
    cursor: url('/kitty-phantom-project/assets/cursorSmall.png'), auto;

}

#gameOverBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(233, 133, 61, 0.5);
    border: 1px solid rgb(78, 42, 3);
    padding: 25px 40px;
    text-align: center;
    display: none;
    cursor: url('/kitty-phantom-project/assets/cursorSmall.png'), auto;

}

#gameOverMessage {
    font-family: 'Press Start 2P', monospace;
    font-size: 20px;
    color: rgb(63, 26, 8);
    margin: 0;
    cursor: url('/kitty-phantom-project/assets/cursorSmall.png'), auto;

}

/*buttons*/

#start {
    font-family: "Press Start 2P";
    background-image: url('/kitty-phantom-project/assets/orange.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    color: #3c1106;
    padding: 75px 70px;
    font-size: 18px;
    border: none;
    transition: transform 0.2s ease-in-out;
    cursor: url("/kitty-phantom-project/assets/cursorSmall.png"), auto;
}

#playAgain {

    font-family: "Press Start 2P";
    background-color: #f8d5c0;
    color: rgb(171, 87, 3);
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 0;
    /* border: 1px solid rgb(39, 4, 41); */
    border-radius: 8px;
    cursor: url('/kitty-phantom-project/assets/cursorSmall.png'), auto;

}

#home {
    font-family: "Press Start 2P";
    background-color: #f8d5c0;
    color: rgb(171, 87, 3);
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 20px;
    border: 1px solid rgb(39, 4, 41);
    border-radius: 8px;
    cursor: url('/kitty-phantom-project/assets/cursorSmall.png'), auto;

}

#score {
    font-family: "Press Start 2P";
    font-size: 10px;
    margin: 20px auto;
}

.insruction{
     font-family: "Press Start 2P";
    background-color: #e6a23c;
    padding: 10px 10px;
    font-size:15px;
}
