@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

canvas {
    display: block;
    cursor: url("../assets/cursorSmall.png"), auto;
}

body {
    margin: 0;
    background-color: #f8d5c0;
    cursor: url('../assets/cursorSmall.png'), auto;
    background-image: url("../assets/leaves.gif");
    background-repeat: repeat-x;
    background-position: left;
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#homeScreen {
    width: 90%;
    height: 90vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 201, 169);
    border-radius: 14px;
    gap: 100px;
    cursor: url('../assets/cursorSmall.png'), auto;
    justify-content: flex-start;
    overflow: hidden;
}

.tree {
    width: 48%;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 37%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 162, 104, 0.509);
    border-radius: 8px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.9;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }

}

.kittyFall {
    display: flex;
    font-family: "Press Start 2P";
    font-style: italic;
    color: #783511;
    margin: 0;
    padding: 45px;
    animation: pulse 2s infinite alternate;
    width: 90%;
    justify-content: center;
}

.description {
    font-family: "Press Start 2P";
    font-style: italic;
    color: #a54410;
    font-size: 10px;
    text-align: center;
    margin: 0 100px;
    line-height: 2;
    padding: 15px;
    background-color: #ffd4bdc4;
    border-radius: 10px;
}

#start {
    background-image: url('../assets/orange.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    padding: 55px 60px;
    font-size: 18px;
    width: 100%;
    border: none;
    transition: transform 0.2s ease-in-out;
    cursor: url("../assets/cursorSmall.png"), auto;
}

.clickCat {
    font-family: "Press Start 2P";
    font-style: italic;
    color: #a54410;
    font-size: 10px;
    text-align: center;
    margin: 0 auto;
    /* margin: 10px 0; */
    padding: 10px;
}

/* .instruction {
    font-family: "Press Start 2P";
    background-color: #f8d5c0;
    color: rgb(171, 87, 3);
    padding: 20px 25px;
    font-size: 12px;
    border-radius: 8px;
    border: 1px solid #a54410;
    border: none;
    cursor: url('../assets/cursorSmall.png'), auto;
    transition: transform 0.1s;
    margin: 20px;
    box-shadow: 0 10px 30px rgba(2, 2, 0, 0.2);

} */

.instruction{
    border: none;
    outline: 1px dotted rgb(37, 37, 37);
  outline-offset: -4px;
  cursor: pointer;
  background: #FA881E;
  box-shadow:
    inset -1px -1px #292929,
    inset 1px 1px #fff,
    inset -2px -2px #FA881E,
    inset 2px 2px #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 5px 30px;
}

.instruction:active {
  box-shadow:
    inset -1px -1px #fff,
    inset 1px 1px #292929,
    inset -2px -2px #ffffff,
    inset 2px 2px rgb(158, 158, 158);
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.instructionContent {
    font-family: "Press Start 2P";
    background-color: #f8d5c0;
    background-image: url('../assets/heartyLeave.gif');
    background-position: top;
    background-size: 50px;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 12px;
    border: 3px solid #783511;
    width: 90%;
    max-width: 450px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.titleInsruction {
    font-size: 14px;
    color: rgb(207, 112, 18);
    margin-top: 50px;
    margin-bottom: 20px;
}

.textInstruction,
.ruleInstruction {
    font-size: 12px;
    padding-left: 0;
    margin: 20px 0;
    line-height: 1.9;
    color: #853605;

}

.rules {
    /* font-weight: bold; */
    color: #a54410;
    display: inline-block;
    min-width: 60px;
    font-size: 12px;
    text-align: left;
    line-height: 2.2;

}

li {
    font-size: 12px;
    text-align: left;
    line-height: 2.2;

}

.closeBtn {
    font-family: 'Press Start 2P';
    padding: 10px 20px;
    font-size: 10px;
    margin-top: 20px;
    border: 2px solid #783511;
    border-radius: 8px;
    background-color: #e6a23c;
    color: #3c1106;
    cursor: url('../assets/cursorSmall.png'), auto;
    transition: background-color 0.2s transform 0.1s;
}

#gameScreen {
    position: relative;
    width: 380px;
    height: 500px;
    margin: 20px auto;
    background-color: #f0eded;
    border: 1px solid #444;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    display: none;
    overflow: hidden;
    cursor: url('../assets/cursorSmall.png'), auto;
}


#clickMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    font-family: "Press Start 2P", monospace;
    color: rgb(73, 6, 53);
    background-color: rgb(233, 199, 236, 0.90);
    border: 1px solid rgb(73, 12, 72);
    text-align: center;
    font-size: 10px;
    padding: 10px 10px;
    cursor: url('../assets/cursorSmall.png'), auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}

#gameOverBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(233, 133, 61, 0.95);
    border: 1px solid rgb(78, 42, 3);
    padding: 15px 30px;
    text-align: center;
    display: none;
    cursor: url('../assets/cursorSmall.png'), auto;
    border-radius: 3px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}

#gameOverMessage {
    font-family: 'Press Start 2P', monospace;
    font-size: 20px;
    color: rgb(63, 26, 8);
    margin: 0;
    cursor: url('../assets/cursorSmall.png'), auto;

}

#playAgain {

    font-family: "Press Start 2P";
    background-color: #f8d5c0;
    color: rgb(171, 87, 3);
    padding: 10px 25px;
    font-size: 10px;
    border-radius: 8px;
    border: 1px solid #a54410;
    cursor: url('../assets/cursorSmall.png'), auto;
    transition: transform 0.1s;
    margin: 5px;
}

#home {
    font-family: "Press Start 2P";
    background-color: #f8d5c0;
    color: rgb(171, 87, 3);
    padding: 10px 25px;
    font-size: 10px;
    border: 1px solid #a54410;
    border-radius: 8px;
    cursor: url('../assets/cursorSmall.png'), auto;
    transition: transform 0.1s;
    margin: 5px;
}

#playAgain:hover,
#home:hover {
    transform: translateY(-1px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#score {
    color: #f8d5c0;
    font-family: "Press Start 2P";
    font-size: 12px;
    margin: 20px auto 20px;
}