@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

canvas {
    display: block;
    margin: 0 auto;
    padding: auto;
    cursor: url("/kitty-phantom-project/assets/cursor.png") auto;

}

body {
    margin: 0;
    background-color: #f0eded;
    cursor:url("/kitty-phantom-project/assets/cursor.png") auto;
background-repeat: no-repeat;
background-position: left;
}

#dancingCatImg {
    display: flex;
    height: 300px;
    width: 300px;
}

#homeScreen {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0eded;
    gap: 100px;
    background-image: url("/kitty-phantom-project/assets/autumn.gif");
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes pulse {
    0% {transform: scale(1);
    opacity: 1; }
    50% { transform: scale(1.1);
    opacity: 0.8;}
    100% {
        transform: scale(1);
    opacity: 1;
    }

    }

#homeScreen h1 {
    display: flex;
    font-family: "Press Start 2P";
    font-style: italic;
    color: #973a08;
    margin: 0 auto;
    /* background-color: rgb(236, 209, 173); */
    background-image: url("/kitty-phantom-project/assets/fallingLeaves.gif");
    background-size: cover;
    /* animation: pulse 2s infinite alternate; */
}



#gameScreen {
    position: relative;
    width: 380px;
    height: 500px;
    margin: 20px auto;
    background-color: #f0eded;
    border: 2px solid #444;
    display: none;
}



#clickMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Press Start 2P", monospace;
    color: rgb(73, 6, 53);
    background-color: rgb(233, 199, 236);
    border: 1px solid rgb(73, 12, 72);
    text-align: center;
    font-size: 10px;
    cursor: pointer;
    padding: 5px 10px;
}

#gameOverBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(206, 137, 197, 0.25);
    border: 1px solid rgb(73, 12, 72);
    padding: 25px 40px;
    text-align: center;
    display: none;
}

#gameOverMessage {
    font-family: 'Press Start 2P', monospace;
    font-size: 20px;
    color: rgb(66, 16, 58);
    margin: 0;
}

/*buttons*/

#start {
    font-family: "Press Start 2P";
    background-image:url('/kitty-phantom-project/assets/orange.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    color: #3c1106;
    padding: 70px 50px;
    margin: 0 auto;
    font-size: 18px;
    cursor: pointer;
    border: none;
    transition: transform 0.2s ease-in-out;
    cursor: url("/kitty-phantom-project/assets/cursor.png") auto;
}

#playAgain {

    font-family: "Press Start 2P";
    background-color: rgb(207, 119, 214);
    color: rgb(39, 4, 41);
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 0;
    border: 1px solid rgb(39, 4, 41);
    border-radius: 8px;
    cursor: url('/kitty-phantom-project/assets/cursor.png') auto;

}

#home {
    font-family: "Press Start 2P";
    background-color: rgb(183, 135, 187);
    color: rgb(39, 4, 41);
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 20px;
    border: 1px solid rgb(39, 4, 41);
    border-radius: 8px;
}

#score {
    font-family: "Press Start 2P";
    font-size: 10px;
    margin: 20px auto;
}